<% layout('layouts/boilerplate') -%>
<body style="text-align: center;">
    <form action="/chats" method="POST">
        <h4>Sender: <input type="text" name="from"></h4>
        <h4>Reciever: <input type="text" name="to"></h4>
        <h5>Edit message: <input type="text" name="msg"></h5>
        <button>Submit</button>
    </form>
</body>
</html>